<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SwitchableSettingsSample.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SwitchableSettingsSample.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SwitchableSettingsSample.My.MySettings>
            <setting name="InputPath" serializeAs="String">
                <value>D:\Test\input.txt</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>D:\Test\output.txt</value>
            </setting>
            <setting name="CheckedValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </SwitchableSettingsSample.My.MySettings>
    </userSettings>
    <applicationSettings>
        <SwitchableSettingsSample.My.MySettings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=MAINSVR;Initial Catalog=Umbreon;User ID=hoge;Password=hogehoge;</value>
            </setting>
            <setting name="CommandTimeoutSeconds" serializeAs="String">
                <value>30</value>
            </setting>
        </SwitchableSettingsSample.My.MySettings>
    </applicationSettings>
</configuration>